@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$main-color: #ff7e3a;
$primary-color: #7c8db5;
$light-color: #b9c0de;
$dark-color: #313d58;
$white-color: #ffffff;
$black-color: #0a0a0a17;
$blue-color: #2e3271;

* {
  font-family: "Ubuntu", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}

@mixin mediaSize($size) {
  @if $size == sm {
    @media screen and (max-width: 567px) {
      @content;
    }
  } @else if $size == md {
    @media screen and (max-width: 678px) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (max-width: 1176px) {
      @content;
    }
  } @else {
    @media screen and (max-width: 1400px) {
      @content;
    }
  }
}

* {
  @include mediaSize(sm) {
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }
}

.main {
  display: flex;
  gap: 50px;
  width: 100vw;
  overflow: hidden;
}
.controll-component {
  width: max-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  @include mediaSize(sm) {
    width: 100%;
    padding: 0 10px;
  }
  .controller {
    width: 93%;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    @include mediaSize(sm) {
      flex-direction: column-reverse;
      gap: 25px;
      padding: 0;
    }
    .player {
      width: max-content;
      box-shadow: inset 0.1px 0.1px 40px #0a0a0a17;
      border-radius: 10px;
      @include mediaSize(sm) {
        width: 100%;
        height: max-content;
      }
      .layer{
        padding: 20px;
      }
      .player-box {
        .player-img {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .player-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .music-name {
            color: $blue-color;
            font-size: 1.3rem;
            font-weight: 500;
          }
          .artist-name {
            color: $primary-color;
            font-size: 13px;
          }
        }
        .controll-box {
          .track {
            width: 100%;
            background-color: $main-color;
            height: 4px;
            border-radius: 50px;
            margin-top: 30px;
          }
          .timer {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            color: $primary-color;
            padding: 10px 0;
          }
        }
        .icons-controlls {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          button {
            padding: 20px;
            cursor: pointer;
            @include mediaSize(sm) {
              padding: 10px;
            }
          }
        }
      }
    }
    .play-list {
      box-shadow: inset 0.1px 0.1px 40px #0a0a0a17;
      width: 50%;
      border-radius: 10px;
      padding: 30px 70px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-height: 450px;
      @include mediaSize(sm) {
        width: 100%;
        margin-bottom: 20px;
        padding: 30px;
      }
      .head {
        font-size: 1.7rem;
        color: $main-color;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px 0;
        border-bottom: 1px solid $light-color;
      }
      .layer {
        overflow: auto;
        max-height: 280px;
        .play-list-lst {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .card {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            @include mediaSize(sm) {
              padding: 0;
            }
            .card-img {
              display: flex;
              gap: 30px;
              .card-text {
                display: flex;
                gap: 10px;
                justify-content: center;
                flex-direction: column;
                .music-name {
                  font-weight: 500;
                  font-size: 1.3rem;
                  color: $blue-color;
                  @include mediaSize(sm) {
                    font-size: 1.1rem;
                  }
                }
                .artist-name {
                  color: $primary-color;
                }
              }
              cursor: pointer;
              .img-box {
                overflow: hidden;
                border-radius: 20px;
                @include mediaSize(sm) {
                  border-radius: 5px;
                }
                img {
                  width: 80px;
                  @include mediaSize(sm) {
                    width: 60px;
                  }
                  &:hover {
                    transform: scale(1.3) rotate(-40deg);
                    transition: 0.3s ease;
                  }
                }
              }
            }
            .controll {
              display: flex;
              gap: 100px;
              align-items: center;
              gap: 40px;
              overflow: hidden;
              @include mediaSize(sm) {
                gap: 20px;
              }
              button:hover {
                transform: scale(1.2);
                transition: 0.3s ease;
              }
              .play-btn {
                color: $main-color;
                cursor: pointer;
                span {
                  font-size: 2.5rem;
                  @include mediaSize(sm) {
                    font-size: 2rem;
                  }
                }
              }
              .like-btn {
                color: $light-color;
                cursor: pointer;
                span {
                  font-size: 2.5rem;
                  @include mediaSize(sm) {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.aside {
  width: 300px;
  height: 100vh;
  box-shadow: inset 0.1px 0.1px 40px #0a0a0a17;
  .logo {
    display: flex;
    img {
      width: 200px;
      object-fit: contain;
    }
  }
  .aside-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 30px;
    margin: 30px 0;
    margin-bottom: 60px;
    .aside-head {
      margin-bottom: 10px;
      color: $light-color;
    }
    .aside-icon-group {
      cursor: pointer;
      &:hover {
        color: $main-color;
        transition: color 0.3s;
      }
      display: flex;
      gap: 10px;
      align-items: center;
      color: $primary-color;

      .active-aside-link {
        color: $main-color;
      }
      .aside-icon {
        max-width: 20px;
        background-color: var(--primary-color);
      }
    }
  }
  @include mediaSize(sm) {
    display: none;
  }
}

.category {
  box-shadow: inset 0.1px 0.1px 40px #0a0a0a17;
  width: 90%;
  height: 100%;
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  @include mediaSize(sm) {
    width: 100%;
    margin: 30px 0;
  }
  .head {
    font-size: 1.3rem;
    margin: 30px 0;
    color: $main-color;
    font-weight: bold;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    @include mediaSize(sm) {
      padding: 0 10px;
    }
    .arrows {
      display: flex;
      gap: 20px;
      .arrow-left {
        width: 30px;
        height: 30px;
        background-color: $main-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
        cursor: pointer;
        &:hover {
          background-color: $main-color;
        }
      }
      .arrow-right {
        width: 30px;
        height: 30px;
        background-color: $main-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
        cursor: pointer;
        &:hover {
          background-color: $main-color;
        }
      }
    }
  }
  .layer {
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
      height: 0 !important;
    }
    .cards {
      display: flex;
      width: max-content;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        color: $blue-color;
        font-weight: 500;
        font-size: 1.2rem;
        @include mediaSize(sm) {
          width: 100px;
          padding: 10px;
          font-size: 1rem;
        }
        .card-img {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: flex;
          gap: 10px;
          position: relative;
          overflow: hidden;
          gap: 20px;
          img {
            height: 150px;
            width: 150px;
            cursor: pointer;
            border-radius: 50%;
            border: 3px solid $primary-color;
            @include mediaSize(sm) {
              width: 80px;
              height: 80px;
              border-radius: 10px;
              border: 1px solid $primary-color;
            }
          }
          &:hover .circle {
            transform: translate(-10%, -40%) scale(1.2);
            transition: 0.3s ease;
            @include mediaSize(sm) {
              transform: translate(-20%, -80%) scale(1.2);
            }
          }
          .circle {
            position: absolute;
            top: 40%;
            left: 40%;
            transform: translate(-10%, -40%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $white-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: $main-color;
            cursor: pointer;
            @include mediaSize(sm) {
              width: 30px;
              height: 30px;
              transform: translate(-20%, -80%);
            }
          }
        }
      }
    }
  }
}
